<!DOCTYPE html>
<html lang="en-NZ">
<head>
    <meta charset="utf-8">
    <title>(BETA) WCA Regulations Assistant</title>

    <link rel="stylesheet" href="/static/style.css">

    <link rel="icon" href="/static/favicon.webp">
</head>

<body>

<div class="container">
    <h1>(BETA) WCA Regulations Assistant</h1>

    <p class="subtitle">Ask questions about the <a href="https://www.worldcubeassociation.org/regulations/" target="_blank" rel="noopener noreferrer">WCA Regulations and Guidelines</a></p>
    <p class="subtitle">This app is powered by AI and may make mistakes. Always verify the information provided (eg, by checking the <a href="https://www.worldcubeassociation.org/regulations/" target="_blank" rel="noopener noreferrer"> Regulations</a>) first.</p>

    <textarea id="question" placeholder="Example: What is a +2?"></textarea>

    <button onclick="askQuestion()">
        Ask
    </button>

    <div id="answer"></div>


    <div id="sources"></div>

</div>

<footer>
    <p><a href="legal.html">Legal info</a>. <a href="about.html">About this app</a>.</p>

    </p>Built by <a href="https://oweltonrosie.com" target="_blank" rel="noopener noreferrer">Oscar Welton-Rosie</a>. Source code on <a href="https://github.com/OWelton-Rosie/regs-helper" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>

    <p><a href="admin">Admin login</a></p>

</footer>

<script src="/static/app.js"></script>

</body>
</html>